workflows/Get Data from SAP Hana Vector DB.json
{
  "name": "Get Data from SAP Hana Vector DB",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        -64
      ],
      "id": "a30e5d6f-66b4-4b94-b885-b865ea5deb2a",
      "name": "When chat message received",
      "webhookId": "d31fd3b8-558e-43a8-a505-191d7b0c81db"
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "n8n_vector_store",
        "prompt": "={{ $json.chatInput }}"
      },
      "type": "CUSTOM.vectorStoreSAPHana",
      "typeVersion": 1.3,
      "position": [
        -128,
        -48
      ],
      "id": "c4a330c7-576b-4229-b173-b9b2bb95c6a7",
      "name": "SAP HANA Vector Store"
    },
    {
      "parameters": {
        "resourceGroup": "default",
        "options": {}
      },
      "type": "CUSTOM.sapAiCoreEmbeddings",
      "typeVersion": 1,
      "position": [
        -48,
        160
      ],
      "id": "b8e20430-f56a-42d6-9bd2-ba615819b037",
      "name": "SAP AI Core Embeddings"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "SAP HANA Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAP AI Core Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "SAP HANA Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "496eb2d1-9fe2-4d87-851d-69da8e648c08",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d425a6c2c2e0f777725504bc8771716cfac3780a0251faf43fb52fee871dc404"
  },
  "id": "Kd94ADMymTgTnmLH",
  "tags": []
}